# Normalizar EOL a LF
* text=auto
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.env text eol=lf

# Asegura que los shell scripts tengan LF
*.sh text eol=lf

# No aplicar conversión a binarios
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
